<div class="card">
  <h2>Create a new Quiz</h2>
  <form class="quiz-form" [formGroup]="quizForm">
    <label for="title">
      Title <br>
      <input class="input-custom" type="text" id="name" [formControlName]="'name'">
    </label>
    <br>
    <label for="theme">Choose a theme:</label>
    <br>
    <select class="input-custom" type="select" id="theme" [formControlName]="'theme'">
      <br>
      <option value = "">--Please choose an option--
      </option>
      <option *ngFor="let currentThemes of THEME_LIST" [value]="currentThemes">
        {{currentThemes}}
      </option>
    </select>
    <br>
    <button type="submit" class="button-card" (click)="addQuiz()">Create</button>
  </form>
</div>
<!-- Uncomment below to see your form structure and how it changes-->
<br><br>{{quizForm.getRawValue() | json}}
